YAMAHA_BIND_HOST=0.0.0.0
YAMAHA_PORT=8789
YAMAHA_MIDI_PORT=udp://172.19.32.190:9999
YAMAHA_PCM_UDP_HOST=0.0.0.0
YAMAHA_PCM_UDP_PORT=9998
YAMAHA_PCM_RATE=44100
YAMAHA_PCM_CHANNELS=2
YAMAHA_MAX_UPLOAD_BYTES=5242880
